<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
</head>
<body>
    <div class="user-info-box">
        <div class="welcome-box"><h1><%= username %>'s Favorites</h1></div>
        <div class="log-out-box"><a href="/">Log Out</a></div>
    </div>
    <div class="favorites-gallery">
        <% favorites.forEach(favorite => { %>
            <div class="favorite-item">
                <div class="viewer">
                    <h1><%= favorite.imageTitle %></h1>
                    <img src="<%= favorite.imageURL %>" alt="<%= favorite.imageTitle %>">
                    <div class="description">
                        <p><%= favorite.imageDescription %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <a href="/home?user=<%= username %>">Back to Home</a>
</body>
</html>