<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Museum Home</title>
</head>

<body>
    <div class="user-info-box">
        <div class="welcome-box"><h1>Welcome, <%= username %>!</h1></div>
        <div class="home-box"><h1>Home</h1></div>
        <div class="log-out-box"><a href="/">Log Out</a></div>
    </div>
    <div class="image-functions">
        <div class="viewer">
            <h1><%= imageTitle %></h1>
            <img src=<%= imageURL %> loading="lazy">
            <div class="description">
                <p><%= imageDescription %></p>
            </div>
        </div>
        <div class="generator">
            <h1>Dashboard</h1>
            <script>
                function renderNewImage() {
                    window.location.href = '/home?user=<%= username %>';
                }
            </script>
            <button class="new-image" onclick="renderNewImage()">Next Exhibit</button>
            <form action="/addFavorite" method="post">
                <input type="hidden" name="username" value="<%= username %>">
                <input type="hidden" name="imageURL" value="<%= imageURL %>">
                <input type="hidden" name="imageTitle" value="<%= imageTitle %>">
                <input type="hidden" name="imageDescription" value="<%= imageDescription %>">
                <button type="submit" class="favorite">Favorite ♥</button>
            </form>
            <form action="/displayFavorites" method="get">
                <input type="hidden" name="user" value="<%= username %>">
                <button type="submit" class="favorite">Display Favorites</button>
            </form>
        </div>
    </div>
</body>

</html>